*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 16px;
}

ul {
  padding: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  border-color: #ccc;
}

.cover {
  margin-right: 50rem;
  width: 10%;
}

.navigate {
  margin-left: auto;
  color: #333;
}

.pepTalk {
  width: 100vw;
  max-height: 520px;
  object-fit: cover;
}

.hero {
  font-size: 32px;
  position: absolute;
  top: 75px;
  right: 40px;
  width: 25%;
  background-color: #333;
  color: aliceblue;
  font-weight: 300;
}

.learning {
  font-size: 35px;
}

.sections {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.text {
  align-items: center;
  background-color: #ccc;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

p {
  padding-top: 20px;
}
